<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1579BC122DE8BEA00C3FB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1579BD522DE8BEB00C3FB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1579BE022DE8BEC00C3FB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
